.joinBattle {
	&__container {
		min-height: 800px;
		padding: 70px 0 0 0;
		overflow: hidden;
		background: url('/src/img/dire/homePage/joinBattle_back.jpg') center (center / cover) no-repeat;//../../img/dire/homePage/joinBattle_back.jpg
	}
}
