.layer__hero {
	background-image:url('/src/img/heroesList/greyfade.png');
}
.hero-features {
	width: 100%;
	min-height: 115vh;
	//height: 115vh;
	margin: 2% auto 8px auto;
	//position: relative;
	display: flex;
	&__promo {
		// position: absolute;
		// top: 0;
		.promo__container{
			//height: 145vh;
			height: auto;
			.header {
				//grid-template-columns: 20% 55% 50px;
				z-index: 3;
			}
		}
		.section__title {
			position: absolute;
			width: 100%;
			background-color: #000;
			z-index: 2;
			height: 200px;
			background: linear-gradient($dire-add-color -90%, rgba(0, 0, 0, 1) 100%, rgb(33 37 41) 100%)
		}
	}
	&__promo-title {
		text-align: center;
	}
	&__promo-subtitle {
		font-size: 24px;
		text-align: center;
		width: 75%;
		margin: 2% auto 0 auto;
	}
	&__image {
		height: 800px;
		width: 25%;
		position: relative;
		margin-left: 7%;
		margin-top: 8%;
		display: inline-block;
		min-width: 260px;
		max-height: 800px;
		z-index: 2;
		&:hover {
			.hero-features__image__descr {
				opacity: 1;
			}
			.hero-features__image__fadeContainer {
				opacity: 1;
			}
		}
		&__wrapper {
			height: 17%;
			width: 80%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			position: absolute;
			bottom: 10px;
			text-align: center;
			left: 50%;
			transform: translateX(-50%);
		}
		&__descr {
			position: absolute;
			top: 17%;
			left: 0;
			color: #fff;
			font-size: 26px;
			text-align: center;
			overflow: scroll;
			opacity: 0;
			transition: all 0.2s;
			z-index: 4;
			overflow: scroll;
			max-height: 50%;
			&::-webkit-scrollbar {
				-webkit-appearance: none;
			}
			
			&::-webkit-scrollbar:vertical {
				width: 4px;
			}
			
			&::-webkit-scrollbar:horizontal {
				height: 0;
			}
			
			&::-webkit-scrollbar-thumb {
				background-color: rgba($color: #fff, $alpha: 0.2);    /* цвет плашки */
				border-radius: 20px;       /* закругления плашки */
				border: 0px solid #fff;  /* padding вокруг плашки */
			}
			
			&::-webkit-scrollbar-track {
				border-radius: 10px;  
				background-color: transparent; 
			}
		}
		&__fadeContainer {
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba($color: #000000, $alpha: 0.5);
			opacity: 0;
			transition: all 0.7s;
			z-index: 3;
		}
	}
	&__heroType {
		height: 100%;
		width: 60%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.heroType-strength{
			height: 50px;
			width: 50px;
			background: url('/src/icons/hero_strength.png') center (center / cover) no-repeat;
			order: 2;
			filter: saturate(1.3);
		}
		.heroType-agility{
			height: 50px;
			width: 50px;
			background: url('/src/icons/hero_agility.png') center (center / cover) no-repeat;
			order: 1;
			filter: brightness(0.5) saturate(0.3);
		}
		.heroType-intelligence{
			height: 50px;
			width: 50px;
			background: url('/src/icons/hero_intelligence.png') center (center / cover) no-repeat;
			order: 3;
			filter: brightness(0.5) saturate(1);
		}
	}
	.strength-main {
		.heroType-strength{
			order: 2;
			filter: saturate(1.3);
		}
		.heroType-agility{
			order: 1;
			filter: brightness(0.5) saturate(0.3);
		}
		.heroType-intelligence{
			order: 3;
			filter: brightness(0.5) saturate(1);
		}
	}
	.agility-main {
		.heroType-strength{
			order: 3;
			filter: brightness(0.5) saturate(0.3);
		}
		.heroType-agility{
			order: 2;
			filter: saturate(1.3);
		}
		.heroType-intelligence{
			order: 1;
			filter: brightness(0.5) saturate(1);
		}
	}
	.intelligence-main {
		.heroType-strength{
			order: 1;
			filter: brightness(0.6);
		}
		.heroType-agility{
			order: 3;
			filter: brightness(0.4) saturate(1);
		}
		.heroType-intelligence{
			order: 2;
			filter: saturate(1.3);
		}
	}
	&__name {
		font-weight: 700;
		font-size: 44px;
		color: rgb(248, 248, 248);
		text-transform: uppercase;
	}
	&__content {
		height: 100%;
		width: 60%;
		padding: 25px 10px 15px 25px;
		margin-left: 15px;
		background-color: transparent;
		display: inline-block;
		//position: absolute;
		&__menu {
			width: 40%;
			margin: 3% auto 0 auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			&__abilities {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 28px;
				color: #fff;
				cursor: pointer;
				transition: all 0.6s;
				&:hover {
					color: rgb(92, 236, 255);//92, 236, 255
					-webkit-transform: translateY(-5px);
					transform: translateY(-5px);
					text-decoration: none;
				}
			}
			&__lore {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 28px;
				color: #fff;
				cursor: pointer;
				transition: all 0.6s;
				&:hover {
					color: rgb(92, 236, 255);//92, 236, 255
					-webkit-transform: translateY(-5px);
					transform: translateY(-5px);
					text-decoration: none;
				}
			}
		}
		&__lore {
			max-height: 90vh;
			overflow: scroll;
			display: none;
			color: #fff;
			font-size: 20px;
			margin-top: 7%;
			&::-webkit-scrollbar {
				-webkit-appearance: none;
			}
			
			&::-webkit-scrollbar:vertical {
				width: 4px;
			}
			
			&::-webkit-scrollbar:horizontal {
				height: 0;
			}
			
			&::-webkit-scrollbar-thumb {
				background-color: rgba($color: #fff, $alpha: 0.2);    /* цвет плашки */
				border-radius: 20px;       /* закругления плашки */
				border: 0px solid #fff;  /* padding вокруг плашки */
			}
			
			&::-webkit-scrollbar-track {
				border-radius: 10px;  
				background-color: transparent; 
			}
		}
		&__abilities {
			display: none;
		}
		.active {
			display: block;
		}
		.skills {
			width: 100%;
			list-style-type: none;
			//padding-left: 15px;
			display: flex;
			padding-left: 0;
			.skill {
				width: 100%;
				margin-top: 20px;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				cursor: pointer;
				overflow: hidden;
				&__icon {
					width: 40%;
					transition: all 0.4s;
					&:hover {
						transform: scale(1.13);
						text-decoration: none;
					}
				}
				&__wrapper {
					width: 100%;
					&__name {
						margin-top: 5px;
						font-weight: 700;
						font-size: 22px;
						color: #fff;
						text-align: center;
					}
				}
			}
		}
		.skill__descr {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			&__characteristic {
				width: 85%;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			&__icon {
				width: 20%;
			}
			&__wrapper {
				margin-left: 6%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				&__name {
					font-weight: 700;
					font-size: 22px;
					color: #fff;
					text-align: center;
				}
				&__text {
					max-height: 200px;
					overflow: scroll;
					font-weight: 500;
					font-size: 18px;
					color: #fff;
					text-align: center;
					&::-webkit-scrollbar {
						width: 0;
					}
				}
			}
			&__video {
				margin-top: 6%;
				width: 90%;
			}
		}
	}
}